* {
    box-sizing: border-box;
    
}

.bg
{
    background-image: url("../img/bg-brand.jpg");
    background-repeat: repeat-y;
}


a {
    display: inline-block;
    text-decoration: none;
    
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p,
h4,
h5,
h6,
button {
    font-size: 18px;
}

input {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    padding: 10px 0 10px 0;
    width: 100%;
}

select {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    width: 100%;
    padding-bottom: 10px;
}

sup {
    font-size: 13px;
}

html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
    font-family: 'Roboto', sans-serif;
    
}

/* header */
header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #2a2222;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .container .logo {
    width: 150px
}

header .container nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

header .container .hamb {
    display: none;
    position: relative;
}

/*fondo*/
.bg {
    background-image: url("img/bg-brand.jpg");
    background-repeat: repeat-y;
}

/*formulario*/
#inicio {
    position: relative;

}

#inicio img {
    width: 100%;
    display: block;
}

#inicio .bloque-inicio {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 600px;
    text-align: center;
    margin-left: -300px;
}

#inicio .bloque-inicio h1 {
    color: white;
    font-size: 50px;
    width: 100%;    
    background-color: #2a22220e;
    border-radius: 100px;

}

#inicio .bloque-inicio p {
    color: #ffffff;
    font-size: 25px;
    width: 100%;
    background-color: #2a222233;
    border-radius: 100px;
}

.formulario
{
    padding-left: 22px;
    padding-top: 45px;
    padding-right: 20px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 25%;
    height:550px;
    background-color: #e2e2e2c8;
    vertical-align: middle;
}
.tituloformulario {
    color: #000000;
    font-family: "roboto thin";
    letter-spacing: 2pt;

}

.tituloenvianos {
    color: #000000;
    font-family: 'Roboto Thin';
    font-size: 21px;
    letter-spacing: 4px;
}

.politicas {
    display: grid;
    grid-template-columns: 20px auto;
    align-items: flex-start;
    padding-top: 50px;
    font-family: Roboto Thin;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.letraenviar {
    letter-spacing: 3px;
}
.textoazul
{
 color: #258ecc;
}

.letraenteraste
{
    color: #000000;
    font-family: "Roboto Thin";
    font-size: 12px;
    letter-spacing: 2px;
    padding-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.precio {
    display: grid;
    position: absolute;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    padding-left: 90px;
    background-color: #2a2222;

    width: 100%;
    height: 100px;
    bottom: 0px;
    color: white;
    font-family: Roboto Thin;
    padding: none;
    line-height: 7px;
    letter-spacing: 2px;
}

.robotothin {
    font-size: 12px;
    letter-spacing: 4px;
}

.robototitulo {
    font-size: 20px;
    letter-spacing: 4px;
}

.boton2 {
    text-decoration: none;
    padding-top: 4px;
    border: none;
}

#inicio img.clickhand {
    float: right;
    position: relative;
    width: 40px;
    height: 51px;
    margin-right: 40px;
    margin-top: -45px;
}

#nosotros .bloque-servicio
{
    border: 1px solid gray;
    
}
.boton2.boton-rojoavance {
    color: white;
    background-color: red;
    width: 260px;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    padding-left: 20px;
}
#contactenos
{
    position: relative;
}

#contactenos form
{
    padding:60px;
    background-color: red;
}

#contactenos form .form-block
{
    width: 100%;
    margin-bottom: 15px;

}
#contactenos form .form-block .form-control
{
    display:block;
    height: 40px;
    font-size:16px;
    border: 1px solid gray;
    width: 100%;
    padding: 5px 10px;
    
}
#contactenos form .form-block textarea
{
    display:block;
    height: 100px;
    font-size:16px;
    border: 1px solid gray;
    width: 100%;
    padding: 5px 10px;
    
}
#contactenos form .form-block.bloque-ultimo
{
    margin-bottom: 0;
    
}
#contactenos iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}
.robotobold
{
    font-family: Roboto Medium;
    font-size: 14px;
}


.boton 
{
    text-align: center;
    text-decoration: none;
    padding: 11px 20px;
    border: none;
    vertical-align: middle;
    
    
}

.boton.boton-azul
{
    color: white;
    background-color: #258ecc;
    width: 260px;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    
}

.boton.boton-azul:hover
{
    background-color: #2a2222;
}
.letraenviar
{
    letter-spacing: 3px;
}

/*slider de imagenes*/
.carrusel-imagenes{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.slider{
    width:90%;
    height:100%;
    
    overflow: hidden;
   
}

.slides{
    width: 500%;
    height: 800px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 100%;
    height:100%;
}


.navigation-manual{
    position: absolute;
    width: 90%;
    margin-top:730px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #2A2222;
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #fff;
}
/*---------carrusel*/
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}


/*automatico*/
.navigation-auto{
    position:absolute;
    display: flex;
    width: 90%;
    justify-content: center;
    margin-top:730px;

    
}
.navigation-auto div{
    border: 2px solid #2A2222;
    padding: 8px;
    border-radius: 30px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #fff;
}
.margen
{
    margin-top: 40px;
}

.centraritems 
{
    text-align: center;
}

.boton.boton-azul
{
    color: white;
    background-color: #258ecc;
    width: 260px;
    height: 38px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 30px; 
}

.boton.boton-azul:hover
{
    background-color: #2a2222;
    border-radius: 5px;
}
.seccciondiseño{
    margin-top: 30px;
    display: grid; 
    grid-template-columns: 50% auto;
    gap: 10px;
}
.diseño_imagen{
    width:100%;
    margin:8%;
    
}
.arriba_texto
{
    justify-self: stretch;
    align-self: stretch;    
}
.diseño_texto{
    margin: 100px;
    margin-right: 100px;  
}

.grid_diseño{
    display: grid;
    grid-template-columns: 50% auto;
}

/*acabados*/
.colorblanco{
    color: #fff;
}
.colornegro{
    color: #000000;
}
.sin-margensup{
    margin-top:0;
    font-size: 40px;
}
.centrar50{
    padding-left:17.5%;
}
.acabados
{
    background-color: #2a22226e;
    color: white;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.columna
{
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;


}
.columna-50
{
    width:50%;
}
.boton.boton-rojo
{
    color: white;
    background-color: red;
    width: 260px;
    height: 35px;
    font-size: 12px;
    font-weight: bold;
}

.ventajas
{
    display: grid;
    justify-content: center;
}
.beneficios
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 125px 125px 125px 125px;
    gap: 30px;
    justify-content: center;
    align-content: center;
}
.grid-icono
{
    display: grid;
    height: 125px;
    width: 125px;
    background-color: white;
    border-radius: 8px;
    place-items: center;
}
.texto-beneficios
{
    font-size:12px;
    text-align: center;
    width: 70px;
    padding: 0;
}
.bg-beneficios
{
    background-color: #2a2222;
    padding: auto;
}

/*map*/
.seccionmap
{
    width: 100%;
    height: 400px;
}

/*apartemento en venta*/
.line
{
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-bottom: 20px;
    
    
}

.cuadraditoB{
    background-color:#fff;
    color:#fff ;
    border: #2A2222 1px solid;
    padding: 5px ;
    border-radius: 5px;
    
}

.cuadraditoc
{
    background-color:#2A2222;
    color:#2A2222 ;
    padding: 5px ;
    border-radius: 5px;
    
}
.line p
{
    
    margin-left: 10px;
    margin-right:10px
}

.botones
{
    margin-left: 20px;
    margin-right:60px;
    
}

.unidadetapa 
{   
    display: grid; 
    grid-template-columns: auto auto;
    justify-content: space-evenly;  
}


.unidadetapa 
{   
    display: grid; 
    grid-template-columns: auto auto;
    justify-content: space-evenly;  
}

.bloque
{
    display: grid; 
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    place-items: center;
}
.piso
{
    display: grid;
    place-content: center;
    font-size: 15px;
    text-transform: uppercase;
}

.vendido
{
    display: grid;
    place-content: center;
    height: 50px;
    width: 50px;
    background-color: #2a2222;
    color: white;
}
.disponible
{
    display: grid;
    place-content: center;
    height: 50px;
    width: 50px;
    border: 4px solid #2A2222;
    color: #2A2222;

}


.centrartorre
{
    text-align: center;
}

/*footer*/
.columna-25
{
    width:25%;
}
footer .logo-footer
{
    width: 50%;
}

footer
{
    margin-top: 50px;
    background-color:#2A2222;
    color: white;
    padding-top: 30px;
}

footer .barra-footer
{
    background-color:#594A4A;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .logo-footer
{
    width: 100%;
}

footer p
{
    color: white;
    margin-bottom: 30px;
    text-align: justify;
}

footer a
{
    color: white;
}

footer ul li
{
    margin-bottom: 10px;
}

footer .redes
{
    font-size:30px;
    display: flex;
    
    
}

footer .redes a
{
    margin: 0 7.5px;
}

footer ul
{
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.logo-footer
{
    padding: 5%;
    margin-top: 0;
    padding-top: 0;
}
.redes li{
    text-align: center;
    width: 100%;
    margin-right: 10%;
    margin-left: 10%;
}
